* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
}

:root {
    --teal: rgb(78, 115, 110);
    --black: rgb(47,51,47);
    --yellow: rgb(217,165,58);
    --purple: rgb(44,33,90);
    --red: rgb(190,30,45);
    }

body {
    background-color:#8A817C;
}

h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 36px;
 }

p, ul, li, a {
    font-size: 16px;
    line-height: 1.5em;
}

a {
    color:var(--yellow);
}

li {
    margin-left: 20px;
    list-style-type: none;
}


/* start top right box */

.main-body {
    display: flexbox;
    flex-direction: wrap;
    justify-content: space-around;
}

header {
    background-color: #463F3A;
    color: white;
    line-height: 1.7;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 20px 35px;
    border-bottom: 3px solid var(--purple);
}

header h1 {
    border-bottom: 3px solid var(--yellow);
    font-size: 46px;
}

header h2 {
    font-size: 40px;
}

header nav {
    flex: 2;
    margin: auto;
    flex-wrap: wrap;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;    
}

header nav a {
    background-color: var(--teal);
    color: var(--while);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 30px; 
}

header nav a:hover {
    color: white;
    background-color: var(--purple);
    opacity: 0.8;

}

.heading {
    color: var(--yellow);
}

/* start profile */

.teal-background {
    background-color: var(--teal);
}

.black-background {
    background-color: var(--black);
}

.purple-background {
    background-color: var(--purple);
}

.yellow-background {
    background-color: var(--yellow);
}

.flex-wrapper {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.content-card {
    display: inline;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    color: white;
    margin: 30px 20px;
    border-radius: 30px;
    }

.content-card img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    border: 3px solid #E8F7EE;
    }

.content-card h3 {
    font-size: 30px;
    padding: 10px;
}

.about-me {
    background-color: var(--yellow);
    border-radius: 15px;
}

.education {
    background-color: var(--purple);
    border-radius: 15px;
}

.about-me h2, .education h2, .portfolio{
    display:inline-block;
    border-bottom: 2px solid white;
    font-weight: bold;
    color: white;
}



.education ul {
    text-align: left;
}

/* end profile */

/*education tree*/

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25b6";
    color: #E8F7EE;
    display: inline-block;
    margin-right:5px;
}

.caret:hover {
    color:var(--yellow);
}
.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.nested li {
    margin-left: 20px;
}

.active {
    display: block;
}

/*utility class */

.text-center {
    text-align: center;
}

@media  screen and (max-width: 600px) {
    header h1 {
        font-size: 22px;
    }

    header h2 {
        font-size: 18px;
    }

    .content-card img {
        width: 200px;
        height: auto;
    }
}