* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
}

:root {
    --teal: rgb(78, 115, 110);
    --black: rgb(47,51,47);
    --yellow: rgb(217,165,58);
    --purple: rgb(44,33,90);
    --red: rgb(190,30,45);
    --white: #fff;
    }

body {
    background-color: var(--white);
}

a {
    color:var(--teal);
}

li {
    margin-left: 20px;
    list-style-type: none;
}


/* start header */

header {
    background-color: white;
    color: white;
    line-height: 1.7;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 20px 35px;
    border-bottom: 3px solid var(--purple);
}

header img {
    width: 300px;
    height: auto;
    padding: 20px 0;
}

header nav {
    flex: 1;
    margin: auto;
    flex-wrap: wrap;
}

header nav ul {
    display: flex;
    gap: 30px 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

header nav a {
    background-color: var(--teal);
    color: var(--while);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 30px; 
}

header nav a:hover {
    color: white;
    background-color: var(--purple);
    opacity: 0.8;

}

/* end header */

/* content card start */

/* flex wrapper for content cards */
.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 10px;
    padding: 50px 0;
}
.content-card {
    display: inline;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    color: white;
    margin: 30px 20px;
    padding: 0 10px; 
    border-radius: 30px;
    padding-top: 20px;
    }

.photo-me {
    width: 300px;
    height: autovw;
    border-radius: 15px;
    border: 3px solid #E8F7EE;
    }

.content-card h3 {
    font-size: 30px;
    padding: 10px;
}
/* content card end */

/* about me start*/
.about-me {
    background-color: var(--yellow);
    border-radius: 15px;
}

.about-me h2 {
    display:inline-block;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 20px 0;
}

.about-me p {
    line-height: 1.4;
    font-size: 20px;
}

/*about me end*/

/*portfolio start*/

.portfolio, .contact-me {
    color: var(--black);
    font-size: 36px;
    font-weight: bold;
    display:inline-block;
    margin: 10px;
    border-bottom: 3px solid var(--black);
    padding: 50px 0 10px 0;
}


.portfolio-img img{
    width: 400px;
    height:auto;
    border: 3px solid var(--yellow);
    margin: 20px;
    border-radius: 20px;

}

.portfolio-content {
    border-radius: 20px;
    margin: 20px;
    padding: 20px 10px;
}

.portfolio-content h3 {
    font-size: 30px;
    color: var(--white);
    margin-bottom: 20px;
    font-weight: bold;
}

.portfolio-content p {
    color: var(--white);
    line-height: 1.5;
}

.project {
    border-bottom: 2px solid var(--teal);
    display: flex;
    margin: 0 30px;
}

.project:last-child {
    border-bottom: none;
}

/*end profolio*/

/*contact section*/

.contact-links a {
    background-color: var(--white);
    color: var(--black);
    font-size: 20px;
    padding: 50px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 30px; 
}

.contact-links img {
    width: 100px;
}

/*education tree*/
.education {
    background-color: var(--purple);
    border-radius: 15px;
}

.education ul {
    text-align: left;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25b6";
    color: #E8F7EE;
    display: inline-block;
    margin-right:5px;
}

.caret:hover {
    color:var(--yellow);
}
.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.nested li {
    margin-left: 20px;
}

.active {
    display: block;
}

/*end education tree*/


/*utility class */

.text-center {
    text-align: center;
}

.teal-background {
    background-color: var(--teal);
}

.black-background {
    background-color: var(--black);
}

.red-background {
    background-color: var(--red);
}

.purple-background {
    background-color: var(--purple);
}

.yellow-background {
    background-color: var(--yellow);
}

/* end utility class */

@media  screen and (max-width: 600px) {
    header h1 {
        font-size: 22px;
    }

    header h2 {
        font-size: 18px;
    }

    .content-card img {
        width: 80vw;
        height: auto;
    }

    .portfolio-img img {
        width: 40vh;
    }

    .project {
        flex-wrap:wrap; 
    }

    .content-card img {
        width: 80vw;
        height: auto;
    }

    .project:nth-child(odd) {
        flex-direction: column-reverse;
        align-items: center;
    }
}