* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
}

:root {
    --teal: rgb(78, 115, 110);
    --black: rgb(47,51,47);
    --yellow: rgb(217,165,58);
    --purple: rgb(44,33,90);
    --red: rgb(190,30,45);
    --white: #fff;
    }

body {
    background-color: var(--white);
}

a {
    color:var(--teal);
}

li {
    margin-left: 20px;
    list-style-type: none;
}


/* start header */

header {
    background-color: white;
    color: white;
    line-height: 1.7;
    text-align: right;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 20px 35px;
    border-bottom: 10px solid var(--purple);
    border-top: 10px solid var(--purple);
}

header img {
    width: 300px;
    height: auto;
    padding: 20px 0;
}

header nav {
    flex: 1;
    margin: auto;
    flex-wrap: wrap;
}

header nav ul {
    display: flex;
    gap: 30px 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; 
}

header nav a {
    background-color: var(--white);
    color: var(--teal);
    font-size: 20px;
    font-weight:bold;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 30px; 
}

header nav a:hover {
    color: white;
    background-color: var(--purple);
    opacity: 0.8;

}

/* end header */

/* content card start */

/* reusable flex wrapper for content cards */
.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 10px;
    padding: 50px 0;
}
.content-card {
    display: inline;
    max-width: 650px;
    text-align: center;
    padding: 10px;
    color: white;
    margin: 30px 20px;
    padding: 0 10px; 
    border-radius: 30px;
    padding-top: 20px;
    }

.content-card h3 {
    font-size: 30px;
    padding: 10px;
}
/* content card end */

/* about me start*/
.about-me {
    background-color: var(--yellow);
    border-radius: 15px;
}

.about-me h2 {
    display:inline-block;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 20px 0;
}

.about-me p {
    line-height: 1.4;
    font-size: 20px;
}

.photos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-me {
    width: 300px;
    height: autovw;
    border-radius: 15px;
    border: 5px solid var(--white);
}

/*about me end*/


/* skills section start */
.skills-section {
    height: auto;
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
}

.skills-section h2 {
    font-size: 30px;
    color: var(--white);
    font-weight: bold;
    margin: 30px 0px;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  margin: 3em;
}

.badges {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.flipcard {
  background-color: transparent;
  perspective: 1000px;
}

.full-stack-circle, .flipcard-holder {
  position: relative;
  width: 150px;
  height: 150px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flipcard-holder {
    width: 300px;
    height: 300px;
}

.full-stack-circle-front, .flipcard-front, .flipcard-back {
  backface-visibility: hidden;
}

.full-stack-circle-front, .full-stack-circle-back,
.flipcard-front, .flipcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flipcard-back {
    transform: rotateY(180deg)
}

.full-stack-circle-back {
  color: var(--yellow);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  transform: rotateY(180deg);
}

.display-none {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.circle-title:hover .display-none,
.circle-title:focus .display-none {
  opacity: 1;
}

.flipcard:hover .full-stack-circle,
.flipcard:focus .full-stack-circle {
  transform: rotateY(180deg);
}

.flipcard:hover .flipcard-holder,
.flipcard:focus .flipcard-holder {
  transform: rotateY(180deg);
}

.front-end, .back-end, .databases, .devops {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.front-end {
  background-image: url("https://www.svgrepo.com/show/146231/laptop.svg");
}

.back-end {
  background-image: url("https://www.svgrepo.com/show/278337/server.svg");
}

.databases {
  background-image: url("https://www.svgrepo.com/show/286661/database.svg");
}

.devops {
  background-image: url("https://www.svgrepo.com/show/339133/devops.svg");
}

.resume-link {
    text-align: center;
}

.resume-link a {
    background-color: var(--white);
    color: var(--teal);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    display: inline;
    font-weight: bold;
}

.resume-link a:hover {
 color: var(--red);
}

/* skills end */

.portfolio {
    color: var(--white);
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    border-bottom: 3px solid var(--white);
    padding: 50px 0 10px 0;
}


.portfolio-img img {
    max-width: 40vw;
    height: 300px;
    border: 5px solid var(--yellow);
    opacity: 90%;
    border-radius: 20px;
    object-fit: cover;
}

.portfolio-img img:hover {
    opacity: 100%;
}

.project {
    display: flex;
    gap: 10px;
    margin: 10vh 0;
    justify-content: center;
}

.portfolio-content {
    border-radius: 20px;
    width: 40vw;
    padding: 10px 0;
}

.portfolio-content h3 {
    font-size: 30px;
    color: var(--white);
    margin-bottom: 30px;
    font-weight: bold;
}

.portfolio-content p {
    color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 10px;
    margin: 0 20px 10px 20px;
}

.portfolio-content a {
    color: var(--teal);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--yellow);
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

.portfolio-content a:hover {
    color: var(--white);
}


.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/* start contact section*/

footer {
    margin-top: 20px;
}

.contact-links a {
    background-color: var(--white);
    color: var(--black);
    font-size: 14px;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 30px;
}

.contact-links img {
    width: 50px;
}

.contact-links h3 {
    margin-top: 14px;
    font-size: 14px;
}
.contact-links a:hover {
    color: var(--red);
}


/* end content section */

/*utility classes */

.text-center {
    text-align: center;
}

.teal-background {
    background-color: var(--teal);
}

.black-background {
    background-color: var(--black);
}

.red-background {
    background-color: var(--red);
}

.purple-background {
    background-color: var(--purple);
}

.yellow-background {
    background-color: var(--yellow);
}

/* end utility class */





/* resize content for smaller screens */

@media screen and (max-width: 1000px) {
    header h1 {
        font-size: 22px;
    }

    header h2 {
        font-size: 18px;
    }

    .content-card img {
        width: 60vw;
        height: auto;
    }

    .portfolio-img img {
        width: 80vw;
    }

    .project {
        flex-wrap:wrap; 
        align-content: center;
    }

    .portfolio-content h3 {
        font-size: 20px;
    }

    .portfolio-content p {
        font-size: 16px;
    }


    .project:nth-child(odd) {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {

    .content-card img {
        width: 80vw;
        height: auto;
    }

    .carousel {
        font-size: 18px;
        }
        
    
    .portfolio-img img{
        width: 300px;
        height: auto;
        border: 2px solid var(--yellow);
        margin: 10px;
        opacity: 100%;

    }

    .portfolio-content {
        margin: 10px;
        padding: 10px 5px;
    }

    .portfolio-content h3 {
        font-size: 20px;
    }
    
    .portfolio-content p {
        font-size: 14px;
        padding-bottom: 10px;
        margin: 0 10px 5x 10px;
    }
    
    .portfolio-content a {
        font-size: 12px;
        padding: 5px;
    }
}

